# Importing the libraries

In [1]:
import numpy as np
import pandas as pd # Data Manipulation, Data Cleaning, Data Exploration, Data Visualization
# import matplotlib.pyplot as plt
# import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Import the dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
#df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/Housing.csv")
df = pd.read_csv("Housing.csv")

## data cleaning

In [3]:
                                                          
df= df.replace({'furnishingstatus':{'unfurnished' : 0, 'semi-furnished' : 1, 'furnished' : 2 }
               ,'mainroad'       :{'yes' : 1, 'no' : 0}
               ,'guestroom'      :{'yes' : 1, 'no' : 0}
               ,'basement'       :{'yes' : 1, 'no' : 0}
               ,'hotwaterheating':{'yes' : 1, 'no' : 0}
               ,'airconditioning':{'yes' : 1, 'no' : 0}
               ,'prefarea'       :{'yes' : 1, 'no' : 0}
               })

convert_dict ={'furnishingstatus': int 
               ,'mainroad': bool
               ,'guestroom': bool
               ,'basement': bool
               ,'hotwaterheating': bool
               ,'airconditioning': bool
               ,'prefarea': bool}

df = df.astype(convert_dict)
print(df.dtypes)

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad             bool
guestroom            bool
basement             bool
hotwaterheating      bool
airconditioning      bool
parking             int64
prefarea             bool
furnishingstatus    int32
dtype: object

In [4]:
# check final data
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,True,False,False,False,True,2,True,2
1,12250000,8960,4,4,4,True,False,False,False,True,3,False,2
2,12250000,9960,3,2,2,True,False,True,False,False,2,True,1
3,12215000,7500,4,2,2,True,False,True,False,True,3,True,2
4,11410000,7420,4,1,2,True,True,True,False,True,2,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,True,False,True,False,False,2,False,0
541,1767150,2400,3,1,1,False,False,False,False,False,0,False,1
542,1750000,3620,2,1,1,True,False,False,False,False,0,False,0
543,1750000,2910,3,1,1,False,False,False,False,False,0,False,2
544,1750000,3850,3,1,2,True,False,False,False,False,0,False,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    bool
 6   guestroom         545 non-null    bool
 7   basement          545 non-null    bool
 8   hotwaterheating   545 non-null    bool
 9   airconditioning   545 non-null    bool
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    bool
 12  furnishingstatus  545 non-null    int32
dtypes: bool(6), int32(1), int64(6)
memory usage: 31.0 KB

# Creating model

In [6]:
# prepare X and Y data
X = df[['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
        'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
        'parking', 'prefarea', 'furnishingstatus'
        ]]
y = df.price

In [13]:
# train
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.1)

model = LinearRegression()
model.fit(np.array([X_train]).reshape(-1,12), y_train)

y_pred = model.predict(np.array([X_test]).reshape(-1,12))

r2_score(y_test, y_pred)

0.8369459610951946

# Testing model

In [14]:
model.predict([[3000,2,1,1,1,0,1,0,0,2,0,0]])

array([3414159.81231116])

In [15]:
model.predict([[7420,4,1,2,1,1,1,0,0,2,0,2]])

array([5979743.12446187])